.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px 30px 60px;
  border-radius: 4px;
  background-color: white;
  width: 550px;
  text-align: center;
  position: relative;
}

.form .close_form {
  position: absolute;
  top: 30px;
  left: 80px;
  font-size: 30px;
  padding: 3px 15px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.form .close_form:hover {
  background-color: tomato;
  color: white;
}

.form h1 {
  margin: 30px 0px 40px;
}

.form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form section .login_form_btn {
  font-size: 20px;
  background-color: #7c5cff;
  color: white;
}

.form section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 65px;
  margin: 10px auto;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
  cursor: pointer;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.form section button span {
  margin-right: 10px;
}

.form section button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form section .continue {
  background-color: #643dff;
  color: white;
  width: 80%;
  height: 55px;
  margin: 50px auto 10px;
}

@media screen and (max-width: 550px) {
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 30px 30px 60px;
    border-radius: 4px;
    background-color: white;
    width: 95%;
    text-align: center;
    position: relative;
  }
  .form .close_form {
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 22px;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
  }
  .form h1 {
    margin: 30px 0px 40px;
  }
  .form section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form section .login_form_btn {
    font-size: 18px;
  }
  .form section button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    height: 55px;
    margin: 6px auto;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.157);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.157);
    cursor: pointer;
  }
  .form section button span {
    margin-right: 10px;
  }
  .form section .continue {
    background-color: #643dff;
    color: white;
    width: 80%;
    height: 55px;
    margin: 50px auto 10px;
  }
}
/*# sourceMappingURL=form.css.map */